.charts{
    background: #3e3e3e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.tmp{
    width: 45%;
    height: 45%;
}
